<nav>
  <ul>
    <li>
      {{#link-to "index"}}
      Inbox
      {{/link-to}}
    </li>
    <li>
      {{#link-to "sent"}}
      Sent
      {{/link-to}}
    </li>
    <li>
      {{#link-to "trash"}}
      Trash
      {{/link-to}}
    </li>
  </ul>
</nav>

{{outlet}}
